@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 my-4">Welcome, .NET Interns</h1>
    
    <div >
        
        <div class="w-75 lh-1 fw-bold fs-5 bg-dark p-1 my-4">
            <p class="text-light">Each intern is assigned to do a different project using repository pattern.</p>
            <p class="text-danger">Note: Do not remove anything that can result in merge conflict.</p>
        </div>
        
        
        <ol class="fs-4 lh-lg">
            <li>Ankush : Student & Courses => <a asp-action="Index" asp-controller="Student">Student Page</a></li>
            <li>Kabir : Song and artist</li>
            <li>Bishal : Product and Category </li>
            <li>Sandhya: Food and Category</li>
            <li>Saloja: Member Types and member </li>
            <li>Yajusha: Brand and Phone</li>
            <li>Bhumika: Course and Fee</li>
        </ol>
    </div>
</div>