@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 my-4">Welcome, .NET Interns</h1>

    <div class="card w-75">
        <ul class="fs-4 lh-lg">
            <li>Ankush : Student & Courses => <a asp-action="Index" asp-controller="Student">Student Page</a></li>

        </ul>
    </div>
</div>