@model ProductApp.ViewModels.ArtistVm

<h1 class="display-5 mb-4">Delete Artist</h1>

<p>Are you sure you want to delete this Artist?</p>
<p>
    <strong>@Model.Name</strong>
</p>

<form asp-action="Delete" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>