@model IEnumerable<ProductApp.ViewModels.ArtistCreateVm>

@{
    ViewData["Title"] = "Music App";
}

<h2 class="display-5">List of Artist</h2>

<a asp-action="Create" class="btn btn-primary shadow my-4">New Artist</a>

<table class="table table-striped border">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>

    <tbody>
    @{
        foreach (var artist in Model)
        {
            <tr>
                <td>@artist.Name</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@artist.Id"
                       class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@artist.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>